<section id="back">
  <div class="container">
    <div class="card card-container">
        <h2 style="text-align:center">ثبت نام</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'form-signin') do |f| %>
              
        <%= devise_error_messages! %>
                 <div class="field">
                    <%= f.label :"ایمیل" %><br />
                    <%= f.email_field :email,:class => 'form-control' , autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :"رمز عبور" %>
                    <% if @validatable %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password,:class => 'form-control' , autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <%= f.label :"تایید رمز عبور" %><br />
                    <%= f.password_field :password_confirmation,:class => 'form-control' , autocomplete: "off" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "ثبت نام",:class =>'form-control btn btn-primary btn-lg' %>
                  </div>
          <% end %>
    </div><!-- /card-container -->
  </div><!-- /container -->

</section>
