<%= form_for(@bracelet) do |f| %>
  <% if @bracelet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracelet.errors.count, "error") %> prohibited this bracelet from being saved:</h2>

      <ul>
      <% @bracelet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br>
    <%= f.number_field :color %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_shaking %><br>
    <%= f.check_box :is_shaking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
