<h1>Weather#new</h1>
<p>Find me in app/views/weather/new.html.erb</p>

<%= form_tag('/weather',method: :post ) do |f| %>
    <div class="field">
    <%= select_tag "hello", options_for_select(@types) %>
    </div>
    <div class="field">
      <%= label_tag :"شهر" %><br>
      <%= text_field_tag :City %>
    </div>
    <div class="field">
      <%= label_tag :"کشور" %><br>
      <%= text_field_tag :Country %>
    </div>
    <div class="actions">
      <%= submit_tag %>
    </div>
<%end%>