<section id="lego">
    <div class="container">
        <div class="card card-container">
            <h2 style="text-align:center">انتخاب رنگ</h2>
            <br>
             <%= form_tag "/rules", method: "post", :class => 'form-signin' do %>
                  <%= label_tag(:color, "انتخاب رنگ") %>
                  <%= text_field_tag(:color, "123456", :class => 'color form-control') %>
                    <br>
                    <%= submit_tag("Continue", :class => 'form-control btn btn-primary btn-lg') %>
                    <br>
                    <%= submit_tag("Back", :name => :Back,  :class => 'form-control btn btn-primary btn-lg') %>
                 
            <% end %>
        </div><!-- /card-container -->
    </div><!-- /container -->

</section>



