<%= form_tag("/rules", method: "post") do %>
<div class="container">
    <div class="col-sm-5 col-sm-offset-3">
    <%= label_tag(:color, "select color") %>
    <%= text_field_tag(:color, "66ff00", :class => 'color form-control') %>
    </div>
    <div class="col-sm-2 col-sm-offset-3">
      <br>
      <%= submit_tag("Continue", :class => 'form-control') %>
      <br>
      <%= submit_tag("Back", :name => :Back,  :class => 'form-control') %>
    </div>
</div>
<% end %>