<section id="weather">
    <div class="container">
        <div class="card card-container">
            <h2 style="text-align:center">چه آب و هوایی؟</h2>
            <br>  
            <% if @event == 'weather' %>
                <%= form_tag "/rules", method: "post", :class => 'form-signin' do %>
                      <div class="field">
                        <%= select_tag "type", options_for_select(@types) , :class=>'form-control' %>
                      </div>
                      <div class="field">
                        <%= label_tag :"شهر" %><br>
                        <%= text_field_tag :City,"" ,:class=>'form-control' %>
                      </div>
                      <div class="field">
                        <%= label_tag :"کشور" %><br>
                        <%= text_field_tag :Country,"" ,:class=>'form-control' %>
                      </div>
                      <br>
                      <div class="actions">
                        <%= submit_tag("Continue", :class=>'form-control btn btn-primary btn-lg') %>
                        <br>
                        <%= submit_tag("Back", :name => :Back, :class=>'form-control btn btn-primary btn-lg') %>
                      </div>
                <%end%>
            <%end%>

       </div><!-- /card-container -->
    </div><!-- /container -->

</section>
