<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bracelet_id %><br>
    <%= f.number_field :bracelet_id %>
  </div>
  <div class="field">
    <%= f.label :action_id %><br>
    <%= f.number_field :action_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :until_id %><br>
    <%= f.number_field :until_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
