
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>دستبند جادویی </h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item1.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item1.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item2.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item2.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item3.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item3.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item4.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item4.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item5.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item5.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item6.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item6.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item7.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item7.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path('portfolio/recent/item8.png') %>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <a class="preview" href="<%= asset_path('portfolio/full/item8.png') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> نمایش</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
    
    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>خدمات</h2>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services1.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">پالت رنگ</h3>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services2.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">الارم تغییر رنگ</h3>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services3.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">تنظیم دستی</h3>
                            
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services4.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"> پیاده سازی API خودتان </h3>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services5.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">تنظیم بر اساس App</h3>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<%= asset_path('services/services6.png') %>">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">تنظیم بر اساس قوانین </h3>
                            
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    